@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* * {
  box-sizing:border-box;
} */

body {
  background-color: greenyellow;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .5ch;
  font-size: 5ch;
  margin-top: 5px;
}
.jack {
  color: red;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  margin-bottom: 0px;

}

.dealer {
  margin:15px;
}

.player {
  margin: 15px;
}

.cardsD {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height:250px;
  margin:25px;
  column-gap: 100px;
  margin-right: 150px;
  margin-top: 5px;
}

.cardsP {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height:250px;
  margin:25px;
  column-gap: 100px;
  margin-right: 150px;
  margin-top: 5px;
}

.card{
  background-color: white;
  border: 5px solid black;
  border-radius: 12.5px;
  font-size: 15ch;
  text-align: center;
  color: red;
  padding: 40px 20px 40px 20px;

}

button {
  border: none;
  font-family: 'Luckiest Guy', cursive;
  height: 20%;
  background-color: greenyellow;
  font-size: 33px;
  overflow:auto;
  margin: 20px;
}

.start {
  color:red;
}

.message {
  color: black;
  text-align:center;
  font-size: 5ch;
  margin-top: 5px;
}

.card.d1 {
  color: black;
  background-color: yellow;
}

.card.d2 {
  color: green;
}

.card.d3 {
  color: black;
}

.card.d4 {
  color: green;
}

.card.d5 {
  color: black;
}

.card.p1 {
  color: red;
}

.card.p2 {
  color: blue;
}

.card.p3 {
  color: red;
}

.card.p4 {
  color: blue;
}

.card.p5 {
  color: red;
}


