@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
/* * {
  box-sizing:border-box;
} */

body {
  background-color: greenyellow;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
  letter-spacing: .5ch;
  font-size: 5ch;
  margin-top: 5px;
}
.jack {
  color: red;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  margin-bottom: 0px;

}

.dealer {
  margin:15px;
}

.player {
  margin: 15px;
}

.playerH2 {
  display: inline-block;
  margin-top: 5px;
}

input {
  margin: 5px;
}

.cardsD {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height:200px;
  margin:25px;
  column-gap: 100px;
  margin-right: 200px;
  margin-top: 5px;
}

.cardsP {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height:200px;
  margin:25px;
  column-gap: 100px;
  margin-right: 200px;
  margin-top: 5px;
}

.card{
  background-color: black;
  border: 5px solid black;
  border-radius: 12.5px;
  font-size: 12ch;
  text-align: center;
  color: red;
  padding: 40px 20px 40px 20px;

}

button {
  border: none;
  font-family: 'Luckiest Guy', cursive;
  height: 20%;
  background-color: greenyellow;
  font-size: 33px;
  overflow:auto;
  margin: 20px;
}

.start {
  color:red;
}

h3 {
  display: inline-block;
  font-size: 4ch;
  font-family: 'Luckiest Guy', cursive;
  color: red;
}

.pScore {
margin-right: 15px;
}

.dScore {
margin-left: 15px;
}

.message {
  color: red;
  text-align:center;
  font-size: 8ch;
  margin-top: 5px;
}

